title #{data.title}
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='theme-color' content='' + globals.themeColor)
+link('favicon.ico', 'icon')

block head_styles
	+link('' + globals.styles, 'stylesheet')