//- Configuration File
//- Include scripts into an array. It will be rendered into a single js file via "script" mixin
- 
	var globals = {
		themeColor: '#e5ef3e',
		//- Write scripts here
		scripts: [
			"js/application.min.js",
		],

		styles: 'style/application.min.css'
	}