//- Configuration
include _config
include _mixins
//- End Configuration

//- HTML
doctype html
html
	head
		//- Head includes
		include _head

	body
		// Header
		include ../_layouts/_header
		// End Header


		// Footer
		include ../_layouts/_footer
		// End Footer

		// Scripts
		include _scripts
		