//- Configuration File
block config
	//- Include scripts in a array. It will be rendered into a single js file via script mixin
	- 
		var scripts = [
			"../js/script.js",
		]

	block title
		- var title = "Main"