block head_title
	title #{title}
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
+link("favicon.ico", "icon")

block head_styles
	+link("styles/application.min.css", "stylesheet")